<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>ReciBase - New User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Montserrat|Open+Sans|Philosopher&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <h1>Recibase</h1>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/get_recipes">Recipes</a></li>
                    <li><a href="/user_entry">Your Kitchen</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="page-content">
        <div class="main-page">
            {% if error %}<h2 class="error_msg">Sorry that name is taken, try again...</h2>{% endif %}
            <h2>Enter your details below:</h2>
            <div>
                <form action="/add_user" method="post">
                    <input type="text" name="username" required placeholder="Username" />
                    <input type="password" name="password" required placeholder="Password" />
                    <input type="submit" value="Add me!" />
                </form>
            </div>
        </div>
    </div>
    <footer>
        <h5>BetaBase Softworks</h5>
    </footer>
</body>


</html>