<!DOCTYPE html>
<!-- Adapted from CS340_starter_flask_app -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <h3>Current recipes: (Click Name for detailed info)</h3>

    <table border='1'>
        <thead>
        <th>Recipe Name</th>
        <th>User Id</th>
        <th>Date</th>
        <th>Source Id</th>
        </thead>
        <tbody>
            {% for r in recipes %}
            <tr>
                <td><a href="/show_recipe/{{r.recipeId}}">{{r.name}}</a></td>
                <td>{{r.userId}}</td>
                <td>{{r.date}}</td>
                <td>{{r.sourceId}}</td>
                <td><form action="/update_recipe/{{r.recipeId}}"><input type="submit" value="Edit" /></form></td>
                <td><form action="/delete_recipe/{{r.recipeId}}"><input type="submit" value="Delete" /></form></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</html>
