<!DOCTYPE html>
<!-- Adapted from CS340_starter_flask_app -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>ReciBase - {{user.name}}'s Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Montserrat|Open+Sans|Philosopher&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <h1>Recibase</h1>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/get_recipes">Recipes</a></li>
                    <li><a href="/user_entry">Your Kitchen</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="page-content">
        <div class="main-page">
            <h2>Welcome {{user.name}}!</h2>
            <h3>Your recipes: (Click Name for detailed info)</h3>
            <div class=table-container>
                <table border='1'>
                    <thead>
                        <tr>
                            <th>Recipe Name</th>
                            <th>Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in recipes %}
                        <tr>
                            <td><a href="/show_recipe/{{r.recipeId}}">{{r.name}}</a></td>
                            <td>{{r.date.strftime("%m-%d-%Y")}}</td>
                            <td><form action="/update_recipe/{{r.recipeId}}"><input type="submit" value="Edit" /></form></td>
                            <td><form action="/delete_recipe/{{r.recipeId}}"><input type="submit" value="Delete" /></form></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr />
            
            <button class="add-btn" id="add-btn"><a href="/add_recipe?userId={{user.userId}}">Add Recipe</a></button>
            <br />

            <form action="/change_username" method="post">
                Change username?
                <input type="hidden" name="userId" value="{{user.userId}}" />
                <input type="text" name="newName" placeholder="new username" />
                <input type="submit" value="Change username" />
            </form><br />
            <form action="/delete_user" method="post">
                Delete your account?
                <input type="hidden" name="userId" value="{{user.userId}}" />
                <input type="hidden" name="userName" value="{{user.name}}" />
                <input type="submit" value="Delete {{user.name}}!!" />
            </form><br />
        </div>
    </div>
    <footer>
        <h5>BetaBase Softworks</h5>
    </footer>
</body>



</html>
