{% extends 'main.html' %}
{% block title %}Add Recipe Details{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h1>{{recipe.name}}</h1>
            <h2>Ingredients:</h2>
            <ul>
                {% for i in ingredients %}
                <li>{{i.amount}} {{i.unit}} of {{i.name}} {% if i.preperation %}({{i.preperation}}){% endif %}</li>
                {% endfor %}
            </ul><br />

            <div>
                <form action="/add_recipe_ingredient" method="post">
                    <label for="ingredient">Add Ingredient from List:</label><br />
                    <input type="hidden" name="userId" value="{{recipe.userId}}" />
                    <input type="hidden" name="recipeId" value="{{recipe.recipeId}}" />
                    <select name="ingredient" id="ingredient">
                        <option value="new_ingredient">Add New Ingredient</option>
                        {% for i in ingredientList %}
                        <option value="{{i.ingredientId}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="newIngredientName" id="new-ingredient" required placeholder="Enter New Ingredient Name">
                    <input type="number" step="0.01" min="0.01" max="9999" name="amount" required placeholder="Amount" />
                    <input type="text" name="unit" required placeholder="Unit" />
                    <input type="text" name="preperation" placeholder="Preperation (optional)" />
                    <br />
                    <input type="number" step="0.01" min="0.01" max="9999" name="defaultAmount" id="default-amount" placeholder="Default Amount (optional)" />
                    <input type="text" name="defaultUnit" id="default-unit" placeholder="Default Unit (optional)" />
                    <input type="number" name="calories" id="calories" min="0" max="9999" placeholder="Calories (optional)" /><br />
                    <input type="submit" value="Add Ingredient" />
                </form><br />

               {% if dupError %}That ingredient already exists!<br />{% endif %}
            </div>

            <h2>Instructions:</h2>
            <ol>
                {% for s in steps %}
                <li>{{s.instruction}}</li>
                {% endfor %}
            </ol><br />

            <div>
                <form action="/add_recipe_step" method="post">
                    <label for="ingredient">Add New Instruction: </label><br />
                    <input type="hidden" name="userId" value="{{recipe.userId}}" />
                    <input type="hidden" name="recipeId" value="{{recipe.recipeId}}" />
                    <input type="hidden" name="step" value="{{steps[-1]['step'] + 1 if steps else 1}}" />
                    <textarea name="instruction" required placeholder="Add new instruction here ..."></textarea><br />
                    <input type="submit" value="Add instruction" />
                </form><br />
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/addRecipeDetails.js') }}"></script> 
    {% endblock %}