{% extends 'main.html' %}
{% block title %}Add Recipe{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h2>Enter details below, submit to add ingredients and instructions:</h2>
            <div>
                {% if dupSource %}<div>That source already exists!</div>{% endif %}
                {% if dupName %}<div>You already have a recipe named {{dupName}}!</div>{% endif %}
                <form action="/add_recipe" method="post">
                    <label for="recipeName">Name: </label>
                    <input type="hidden" name="userId" value="{{userId}}" />
                    <input type="text" name="recipeName" required placeholder="Name of Recipe" /><br />
                    <!-- <label for="source">Source:</label>
                    <select name="source">
                        <option selected value="no_source">Leave Blank</option>
                        <option value="new_source">Add a new source</option>
                        {% for s in sourceList %}
                        <option value="{{s.sourceId}}">{{s.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="new_name" placeholder="Add new source name" />
                    <input type="text" name="new_url" placeholder="Add url for new source (optional)" /> -->
                    <span>Source: <input name="source-check" id="source-check" type="checkbox"></span>
                    <select name="source" class="no-source" id="sourceName">
                        <option value="new_source">Add a new source</option>
                        {% for s in sourceList %}
                            <option value="{{s.sourceId}}">{{s.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="new-source-name" id="newSourceName" class="no-source" placeholder="New Recipe Source">
                    <input type="text" name="source-url" id="sourceUrl" class="no-source" placeholder="Source URL (optional)">
                    <br />
                    <input type="submit" value="Add recipe and enter details!" />
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/addRecipe.js') }}"></script>
{% endblock %}