{% extends 'main.html' %}
{% block title %}Admin Ingredient{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h2>Ingredients:</h2>
            {% if inRecipes %}<div>You can't delete an ingredient in active recipes!</div>{% endif %}
            {% if dupName %}<div>That ingredient already exists!</div>{% endif %}

            {% for i in ingrList %}
            <form action="/edit_ingr" method="post">
                <input type="hidden" name="admin" value="{{admin}}" />
                <input type="hidden" name="ingredientId" value="{{i.ingredientId}}" />
                <input type="hidden" name="ingrName" value="{{i.name}}" />
                <input type="text" name="newName" required value="{{i.name}}" />
                <input type="text" name="amount" value="{{i.defaultAmount}}" />
                <input type="text" name="unit" value="{{i.defaultUnit}}" />
                <input type="number" name="calories" value="{{i.calories}}" />
                (In {{i.num}} recipes)
                <input type="submit" name="action" value="Edit" />
                <input type="submit" name="action" value="Delete" />
            </form>
            {% endfor %}
            <br />
            (Note: new ingredients can be added in recipe creation phase only.)
            <br />
            <form action="/back_to_admin" method="post">
                <input type="hidden" name="admin" value="{{admin}}" />
                <input type="submit" value="Back To Admin Page" />
            </form>
        </div>
    </div>
{% endblock %}
