{% extends 'main.html' %}
{% block title %}Admin Sources{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h2>Sources:</h2>
            {% if inRecipes %}<div>You can't delete a source in active recipes!</div>{% endif %}
            {% if dupName %}<div>That name already exists!</div>{% endif %}

            {% for s in s_list %}
            <form action="/edit_source" method="post">
                <input type="hidden" name="admin" value="{{admin}}" />
                <input type="hidden" name="sourceId" value="{{s.sourceId}}" />
                <input type="hidden" name="sourceName" value="{{s.name}}" />
                <input type="text" name="newName" required value="{{s.name}}" />
                <input type="text" name="url" value="{{s.url}}" />
                (In {{s.num}} recipes)
                <input type="submit" name="action" value="Edit" />
                <input type="submit" name="action" value="Delete" />
            </form>
            {% endfor %}
            <br />
            (Note: new sources can be added in recipe creation phase only.)
            <br />
            <form action="/back_to_admin" method="post">
                <input type="hidden" name="admin" value="{{admin}}" />
                <input type="submit" value="Back To Admin Page" />
            </form>
        </div>
    </div>
{% endblock %}
