<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>ReciBase - Admin Entry Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Montserrat|Open+Sans|Philosopher&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <h1>Recibase</h1>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/get_recipes">Recipes</a></li>
                    <li><a href="/user_entry">Your Kitchen</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="page-content">
        <div class="main-page">

            {% if nameError %}<h2 class="error_msg">Sorry, username not in database doesn't match!</h2>{% endif %}
            {% if passError %}<h2 class="error_msg">Sorry, password doesn't match!</h2>{% endif %}
            {% if adminError %}<h2 class="error_msg">Sorry, username is not an admin!</h2>{% endif %}

            <h2>Administrators: Enter your user details below</h2>
            <h4>Note: existing 'admin' account has password: 'admin'</h4>
            <div>
                <form action="/admin_page" method="post">
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="submit" value="Go to admin page" />
                </form>
            </div>
        </div>
    </div>
    <footer>
        <h5>BetaBase Softworks</h5>
    </footer>
</body>


</html>