{% extends 'main.html' %}
{% block title %}Admin Page{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h2>Welcome {{admin}}!</h2>
            <h3>What do you want to look at?</h3><br />
            <ul>
                <li>
                    <form action="/admin_users" method="post">
                        <input type="hidden" name="admin" value="{{admin}}" />
                        <input type="submit" value="Users" />
                    </form>
                </li>
                <li>
                    <form action="/admin_sources" method="post">
                        <input type="hidden" name="admin" value="{{admin}}" />
                        <input type="submit" value="Sources" />
                    </form>
                </li>
                <li>
                    <form action="/admin_ingr" method="post">
                        <input type="hidden" name="admin" value="{{admin}}" />
                        <input type="submit" value="Ingredients" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
