{% extends 'main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h2>Welcome to the ReciBase!</h2>
            <div>Explore the site using the above navigation bar.</div>
            <hr />
            <h3>Home - This page</h3>
            <h3><a href="/get_recipes">Recipes - A list of all submitted recipes</a></h3>
            <h3><a href="/user_entry">Your Kitchen - View, edit, and delete your submitted recipes</a></h3>
            <hr/>

            <div>
                <a href="/admin_entry">Authorized Users Only!</a><br />
                Click here to view, edit and delete users, sources and ingredients
            </div>
        </div>
    </div>
{% endblock %}