<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recibase - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css' ) }}">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Montserrat|Open+Sans|Philosopher&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<div>
				<h1>Recibase</h1>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/get_recipes">Recipes</a></li>
						<li><a href="/user_entry">Your Kitchen</a></li>
                        <li><a href="/admin_entry">Admins Only</a></li>
					</ul>
				</nav>
			</div>
		</header>
		{% block content %}
		{% endblock %}
	<footer>
		<h5>BetaBase Softworks</h5>
	</footer>
	</body>
</html>