{% extends 'main.html' %}
{% block title %}New User{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            {% if error %}<h2 class="error_msg">Sorry that name is taken, try again...</h2>{% endif %}
            <h2>Enter your details below:</h2>
            <div>
                <form action="/add_user" method="post">
                    <input type="text" name="username" required placeholder="Username" />
                    <input type="password" name="password" required placeholder="Password" />
                    <input type="submit" value="Add me!" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}