{% extends 'main.html' %}
{% block title %}Recipe List{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h3>Current recipes: (Click Name for detailed info)</h3>
            <div><a href="/user_entry">To Add A Recipe, Go to Your Kitchen</a></div><br />
            <form action="/search_for" method="get">
                <div class="search">
                    <span>Search:</span>
                    <input type="text" required placeholder="Search Recipes" name="search_text">
                    <select name="search_type" id="search_type">
                        <option selected value="Recipes">in recipe names</option>
                        <option value="Ingredients">in ingredients</option>
                        <option value="Usernames">in usernames</option>
                        <option value="Sources">in sources</option>
                    </select>
                    <button class="search-btn">Search</button>
                </div>
            </form>
                <div class=table-container>
                    <table>
                        <thead>
                            <tr>
                                <th>Recipe Name</th>
                                <th>User Name</th>
                                <th>Date</th>
                                <th>Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in recipes %}
                            <tr>
                                <td><a href="/show_recipe/{{r.recipeId}}">{{r.recipeName}}</a></td>
                                <td>{{r.username}}</td>
                                <td>{{r.date.strftime("%m-%d-%Y")}}</td>
                                <td>{{r.sourceName}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
{% endblock %}
