{% extends 'main.html' %}
{% block title %}Recipe Details{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h2>{{recipeInfo.rname}}</h2>
            <h3>Submitted by {{recipeInfo.uname}} on {{recipeInfo.date.strftime("%m-%d-%Y")}}</h3>
            <h4>{% if recipeInfo.sname %} Source: {{recipeInfo.sname}} {% endif %}</h4>
            <hr/>
            <div>
                <h3>Ingredients:</h3>
                <ul>
                    {% for i in ingredients %}
                    <li class="recipe-ingredient">{{i.amount}} {{i.unit}} of {{i.name}} {% if i.preperation %}({{i.preperation}}){% endif %}</li>
                    {% endfor %}
                </ul>

                <hr />
                <h3>Steps:</h3>
                <ol>
                    {% for s in steps %}
                    <li class="recipe-step">{{s.instruction}}</li>
                    {% endfor %}
                </ol>
                <hr />
                <h3><a href="/get_recipes">Back to Recipes</a></h3>
            </div>
        </div>
    </div>
{% endblock %}