{% extends 'main.html' %}
{% block title %}Recipe Details{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h2>{{recipeInfo.rname}}</h2>
            <h3>Submitted by {{recipeInfo.uname}} on {{recipeInfo.date.strftime("%m-%d-%Y")}}</h3>
            <h4>{% if recipeInfo.sname %} Source: {{recipeInfo.sname}} {% endif %}</h4>
            <hr/>
            <div>
                <h3>Ingredients:</h3>
                <ul>
                    {% for i in ingredients %}
                    <li class="recipe-ingredient">
                        <input id="completeIngr_{{loop.index}}" type="checkbox" class="complete-box">
                        <label for="completeIngr_{{loop.index}}">{{i.amount}} {{i.unit}} of {{i.name}} {% if i.preperation %}({{i.preperation}}){% endif %}<span class="checkmark"></span></label>
                    </li>
                    {% endfor %}
                </ul>

                <hr />
                <h3>Steps:</h3>
                <ol>
                    {% for s in steps %}
                    <li class="recipe-step">
                        <input id="completeStep_{{loop.index}}" type="checkbox" class="complete-box">
                        <label for="completeStep_{{loop.index}}">{{s.instruction}}<span class="checkmark"></span></label>
                    </li>
                    {% endfor %}
                </ol>
                <hr />
                <h3><a href="/get_recipes">Back to Recipes</a></h3>
            </div>
        </div>
    </div>
{% endblock %}