{% extends 'main.html' %}
{% block title %}User Page{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">
            <h2>Welcome {{user.name}}!</h2>
            <h3>Your recipes: (Click Name for detailed info)</h3>

            <div>
                <form action="/add_recipe_initial" method="post">
                    <input type="hidden" name="userId" value="{{user.userId}}" />
                    <input type="hidden" name="username" value="{{user.name}}" />
                    <input type="submit" value="Create A New Recipe!" />
                </form>
            </div>
            <br />

            <div class=table-container>
                <table border='1'>
                    <thead>
                        <tr>
                            <th>Recipe Name</th>
                            <th>Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in recipes %}
                        <tr>
                            <td><a href="/show_recipe/{{r.recipeId}}">{{r.name}}</a></td>
                            <td>{{r.date.strftime("%m-%d-%Y")}}</td>
                            <td>
                                <form action="/update_recipe" method="post">
                                    <input type="hidden" name="userId" value="{{user.userId}}" />
                                    <input type="hidden" name="username" value="{{user.name}}" />
                                    <input type="hidden" name="recipeId" value="{{r.recipeId}}" />
                                    <input type="hidden" name="recipeName" value="{{r.name}}" />
                                    <input class="edit-btn" type="submit" value="Edit" />
                                </form>
                            </td>
                            <td>
                                <form action="/delete_recipe" method="post">
                                    <input type="hidden" name="userId" value="{{user.userId}}" />
                                    <input type="hidden" name="username" value="{{user.name}}" />
                                    <input type="hidden" name="recipeId" value="{{r.recipeId}}" />
                                    <input class="delete-btn" type="submit" value="Delete" />
                                </form>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr />

            {% if usedError %}<h2 class="error_msg">Sorry that name is taken, try again...</h2>{% endif %}
            <form action="/change_username" method="post">
                <label>Change username?</label>
                <input type="hidden" name="userId" value="{{user.userId}}" />
                <input type="hidden" name="username" value="{{user.name}}" />
                <input type="text" name="newName" placeholder="new username" />
                <input type="submit" value="Change username" />
            </form><br />

            <form action="/change_password" method="post">
                <label>Change password?</label>
                <input type="hidden" name="userId" value="{{user.userId}}" />
                <input type="hidden" name="username" value="{{user.name}}" />
                <input type="password" name="newPass" placeholder="new password" />
                <input type="submit" value="Change password" />
            </form><br />

            <form action="/delete_user" method="post">
                <label>Delete your account?</label>
                <input type="hidden" name="userId" value="{{user.userId}}" />
                <input type="hidden" name="username" value="{{user.name}}" />
                <input type="submit" value="Delete {{user.name}}!?!" />
            </form><br />
        </div>
    </div>
{% endblock %}
