{% extends 'main.html' %}
{% block title %}User Entry{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="main-page">

            {% if error %}<h2 class="error_msg">Sorry, username not in database or password doesn't match!</h2>{% endif %}
            <h2>New user?</h2>
            <form action="/new_user">
                <input type="submit" class="add-btn" id="add-btn" value="Join ReciBase!" />
            </form><hr />

            <h2>Returning Users: Enter your user details below</h2>
            <h4>Note: existing 'guest' account has password: '1'</h4>
            <div>
                <form action="/user_page" method="post">
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="submit" value="Go to my page" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}